.button {
  font-family: $font-family--Roboto_Condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  padding: 14px 32px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
