.copyright {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.5;

  @media (max-width: $desktop-width) {
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.copyright__text {
  margin-right: 80px;

  &--service {
    margin-right: 160px;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  &--rights {
    @media (max-width: $desktop-width) {
      display: none;
    }
  }
}

.copyright__link {
  color: $grey-dark;

  &--confidentiality {
    margin-right: auto;

    @media (max-width: $tablet-width) {
      margin: 0;
      text-align: center;
      display: block;
      width: 100%;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
