.modal-form {
  background-color: $blue;
  width: 50%;
  padding: 33px 39px;
  color: $wight;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: none;

  @media (max-width: $desktop-width) {
    display: none;
  }

}

.modal-form__title {
  font-family: $font-family--Roboto_Condensed;
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.modal-form__text {
  margin: 0;
  width: 380px;
  margin-bottom: 20px;
}

.modal-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.modal-form__item input,
.modal-form__item textarea {
  width: 100%;
  background-color: $bluelight;
  border: none;
  padding-left: 16px;
  color: $wight;

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: $wight;
    opacity: 1;
    padding-bottom: 16px;
    font-family: $font-family--PT_Mono;
  }
}

.modal-form__item input {
  height: 50px;
}

.modal-form__item textarea {
  min-height: 104px;
  padding-top: 16px;
}

.modal-form__button {
  width: 100%;
}

.modal-form__checkbox {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  padding-left: 20px;
  display: block;
  opacity: 0.8;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.modal-form__check {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid $wight;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  left: 0px;
}

.modal-form__check svg {
  stroke: $wight;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  stroke: transparent;
}

.modal-form__checkbox input {
  display: none;
}

.modal-form__checkbox input:checked + .modal-form__check svg {
  stroke: $wight;
}

.modal__button {
  display: block;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  top: 20px;
  right: 20px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $wight;
    width: 16px;
    height: 1px;
    top: 10px;
    right: 6px;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}
