//viewports
$tablet-width: 767px;
$desktop-width: 1023px;

//colors

$black: #000000;

$blacK-opasity: rgba(0, 0, 0, 0.8);

$black-light: #1b2d37;
$white: #ffffff;
$white-dark: #ebebeb;
$blue: #00b2ff;
$blue-light: rgba(255, 255, 255, 0.1);

$grey: #666666;
$grey-dark: #1b2d37;
$grey-light: #626962;
$red: rgb(255, 0, 0);
$hover-form: rgb(137, 43, 226);


//fonts

$font-family--PT_Mono: "PTMono", "Arial", sans-serif;
$font-family--Roboto_Condensed: "RobotoCondensed", "Arial", sans-serif;

//rtina

$retina-dpi-2: 2dppx;
